<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<style>
		body {
			padding-top: 50px;
			padding-bottom: 20px;
		}
	</style>
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/muppaneni_yeshwant.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				 aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
				<a class="navbar-brand" href="/">Yeshwant</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/qualification">Qualification</a></li>
					<li><a href="/contact">Contact</a></li>
					<li style="float:right"><a class="active" href="/index">Guest Book</a></li>
				</ul>
				<ul class="nav navbar-nav menuFloatRight">
					<a href="https://github.com/yeshwantmuppaneni"> <i class="fa fa-github" style="font-size:30px;"></i></a>
					<a href="https://bitbucket.org/S530478/"> <i class="fa fa-bitbucket" style="font-size:30px;"></i></a>
					<a href="https://www.linkedin.com/in/yeswant-muppaneni-23bb1a14b/"> <i class="fa fa-linkedin" style="font-size:30px;"></i></a>
				</ul>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</nav>
	<div class="container">
<h1>
<div class="row">
<div class="col-md-6 col-sm-12">
    Express Guestbook 
</div>
<div class="col-md-6 col-sm-12">
  <a href="/new-entry" class="btn btn-primary writeButtonFloat">
    Write in the guestbook
  </a>
</div>
</div>
</h1>
</div>