body{
	background-image: url("../img/web.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.c{
    margin-top: 50px;
    margin-bottom: 50px;
    align:center;
    
}
.x{
    padding:12px 20px;
}
#con{
    float:right;
    font-weight:bold;
    color:#DC143C;
    text-align:center;
}
#contactinfo {
	font-family:"Arial";
	font-style: italic;
	text-align: center;
	color: #34B334;
	}